{% load staticfiles %}
<!doctype html>
<html>
<head>

<meta name="keywords" content="个人博客模板古典系列之——江南墨卷" />
<meta name="description" content="个人博客模板古典系列之——江南墨卷" />
<link href="{% static "css/base.css" %}" rel="stylesheet">
<link href="{% static "css/index.css" %}" rel="stylesheet">
<!--[if lt IE 9]>
<script src="{% static "js/modernizr.js" %}"></script>
<![endif]-->

<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
</head>

 <body>
      {% include 'header.html' %}
	  <hr>
	  {% block content %} {% endblock %}
	  <hr>
	  {% include 'footer.html' %}
 </body>
</html>
